@model List<Microsoft.WindowsAzure.Storage.Blob.CloudBlockBlob>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model)
{
    <img src="@item.Uri" style="max-width: 300px;" /><a href="/Foto/Borrar?id=@item.Name">Borrar</a>
    <br/>
}
<br/>
<button onclick="@("window.location.href='" + @Url.Action("Nueva") +"'");"> Nueva</button> 