
@{
    ViewBag.Title = "Nueva";
}

<h2>Nueva</h2>
@using (Html.BeginForm("Nueva", "Foto", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <input type="file" name="fichero"/>
    <br/>
    <input type="submit" value="Subir"/>
}

